<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">-->
<!--    <title>{{ title }}</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Привет, я отрендеренный шаблон!</h1>-->
<!--    <p>Здороваюсь с пользователем по имени {{ user }}.</p>-->
<!--    <p>Для регистрации заполните <a href="/form-sample">форму</a>.</p>-->
<!--    <p>Пример <a href="/conditions-sample/2">условий</a> в шаблонах Jinja.</p>-->
<!--    <p>Информация о нас <a href="/about">здесь</a>-->
<!--</body>-->
<!--</html>-->

{% extends "base.html" %}

{% block content %}
<h1>Привет, я отрендеренный шаблон!</h1>
<p>Здороваюсь с пользователем по имени {{ user }}.</p>
<p>Для регистрации заполните <a href="/form-sample">форму</a>.</p>
<p>Пример <a href="/conditions-sample/2">условий</a> в шаблонах Jinja.</p>
<p>Информация о нас <a href="/about">здесь</a></p>
{% endblock %}

